<h5>Select date range</h5>

<form [formGroup]="form">
  <mat-form-field>
    <mat-date-range-input
      [rangePicker]="picker"
      [comparisonStart]="comparisonStart"
      [comparisonEnd]="comparisonEnd"
      [dateFilter]="unavailableDays"
      [min]="comparisonStart"
      [max]="comparisonEnd"
      separator="--"
      formGroupName="daterange"
    >
      <input matStartDate placeholder="Start date" formControlName="start" />
      <input matEndDate placeholder="End date" formControlName="end" />
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker
      [dateClass]="cellClass"
      [startAt]="startAt"
      xPosition="start"
      yPosition="below"
      #picker
    ></mat-date-range-picker>
  </mat-form-field>

  <button (click)="onSubmit()" style="margin-left: 1rem;" mat-stroked-button>
    select
  </button>
</form>
